/* Estilos generales */
body {
  font-family: 'Roboto';
  color: white;
  margin: 0;
  padding: 0;
  background-color: cadetblue;
  box-sizing: border-box;
}

/* Estilos del encabezado */
header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  
}



/* Estilos de la lista */
ul {
  list-style: none;
  padding: 0;
  text-align: center;
  background-color: gold;
  margin: 20px;
  font-family: 'Roboto';
  color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
  line-height: 1.6;
}

ul li {
  padding: 10px;
  transition: background-color 0.3s;
}

ul li:hover {
  background-color: green;
}

/* Estilos de la información del país */
#countryInfo {
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: black;
  
}

#countryInfo img {
  max-width: 100px;
  margin-bottom: 10px;
}

